<div id="navcol-1" class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link active" href="#" style="font-weight: bold;font-size: 20px;color: rgb(255,255,255);">Задачи</a></li>
        <li class="nav-item"><a class="nav-link" href="#" style="font-size: 20px;color: rgb(255,255,255);">История</a></li>
    </ul><button class="btn btn-primary border rounded border-1 focus-ring" type="button" style="margin-right: 22px;">Имя</button><button class="btn btn-primary text-bg-dark" type="button">Выйти</button>
</div>